@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css");

@media only screen and (max-width: 600px) {
  * {
    margin: 0;
    padding: 0;
    font-family: "Raleway", sans-serif;
  }

  html {
    width: 100%;
    height: 100%;
  }

  body {
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to right bottom, #f857a6, #ff5858);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #music_player {
    width: 95%;
    height: 95%;
    background-color: #ffffff3d;
    border-radius: 20px;
  }

  #div_info {
    height: 40%;
  }

  #div_img {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: border-radius 0.3s;
  }

  #song_img {
    width: 15rem;
    transition: width 0.2s;
    margin-top: 5.5%;
  }
  .border_50 {
    border-radius: 50%;
  }

  #div_title,
  #div_singer_album {
    text-align: center;
    color: #fff;
  }

  #title {
    margin-top: 1.5%;
    font-weight: 600;
  }

  #div_control {
    margin: 5% auto 0;
    width: 80%;
    height: 20%;
  }
  #div_list {
    margin: 5% auto;
    width: 80%;
    height: 30%;
    overflow: scroll;
    -ms-overflow-style: none; /* IE and Edge */
  }
  /* Hide scrollbar for Chrome, Safari and Opera */
  #div_list::-webkit-scrollbar {
    display: none;
  }

  #range_btn {
    -webkit-appearance: none;
    width: 100%;
    height: 0.5px;
    background: #fff;
    outline: none;
  }

  #range_btn::-webkit-slider-thumb {
    -webkit-appearance: none;
    border-radius: 50%;
    width: 1rem;
    height: 1rem;
    background: #f857a6;
    cursor: pointer;
  }

  #div_control_btn {
    display: flex;
    justify-content: space-around;
    margin-top: 10%;
    text-align: center;
  }
  .btn {
    background-color: transparent;
    border-radius: 50%;
    border: none;
    color: #fff;
  }
  #play_pause_btn {
    font-size: 3rem;
    width: 30%;
    transition: background-color 0.5s;
  }
  #shuffle_btn,
  #next_btn,
  #prev_btn,
  #replay_btn {
    font-size: 1.5rem;
    width: 15%;
  }
  .active {
    color: #ff5858;
  }
  @keyframes anim_rot {
    from {
      transform: rotate(0deg);
    }

    to {
      transform: rotate(360deg);
    }
  }
  .anim_rot {
    animation: anim_rot 20s infinite linear;
  }
  .pause {
    animation-play-state: paused;
  }
  #songs {
    list-style: none;
  }
  #songs li {
    margin-bottom: 1%;
    height: 60px;
    border-radius: 10px;
    transition: background-color 1s;
    color: #ff5858;
  }
  #songs li div {
    padding-top: 0.6em;
    padding-left: 1em;
  }
  #songs li:hover {
    cursor: pointer;
    background-color: #ffffff;
  }
  .title_active {
    background-color: #fff;
  }
  .title_no_active {
    background-color: rgba(255, 255, 255, 0.5);
  }
}
